@model List<BeginningData>
@{
	ViewData["Title"] = "Loan";
}
@section HeaderTitle {
	@ViewData["Title"]
}

<!--begin::Card-->
<div class="card">
	<!--begin::Card header-->
	<div class="card-header border-0 pt-6">
		<!--begin::Card toolbar-->
		<div class="card-toolbar">
			<!--begin::Toolbar-->
			<div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
				<!--begin::Add user-->
				<a class="btn btn-primary" asp-action="FormLoan" asp-controller="Transaction">
					<i class="ki-duotone ki-plus fs-2"></i>Add Project
				</a>
				<!--end::Add user-->
			</div>
			<!--end::Toolbar-->
		</div>
		<!--end::Card toolbar-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body py-4">
		<!--begin::Table-->
		<table class="table table table-bordered gy-5" id="kt_table">
			<thead>
				<tr class="text-start text-black-400 fw-bold fs-7 text-uppercase gs-0 bg-light-dark">
					<th class="min-w-125px pl-2">Project Code</th>
					<th class="min-w-125px pl-2">Item Tube</th>
					<th class="min-w-125px pl-2">Selected Template </th>
					<th class="min-w-125px">Remark</th>
					<th class="min-w-125px">Active</th>
					<th class="min-w-125px text-center">Doc Status</th>
					<th class="min-w-125px text-center">Actions</th>
				</tr>
			</thead>
			<tbody class="text-gray-600 fw-semibold">
				@foreach (var item in Model)
				{
					<tr>
						<td class="d-flex align-items-center">
							@switch (item.doc_status)
							{
								case "DRAFT":
									<a asp-action="EditBeginning" asp-controller="Transaction" asp-route-id_encrypt="@item.id_encrypt">@item.tran_code</a>
									break;
								default:
									<span class="text-primary">@item.tran_code</span>
									break;
							}

						</td>
						<td>
							<div class="d-flex flex-column">
								<span>@item.itemtube_code : @item.itemtube_description</span>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column">
								<span>@item.template_code : @item.template_name</span>
							</div>
						</td>
						<td>
								<span>@item.remark</span>
						</td>
						<td>
							@if (item.is_active)
							{
								<div class="badge badge-light text-success">Yes</div>
							}
							else
							{
								<div class="badge badge-light text-danger">No</div>
							}
						</td>
						<td class=" text-center">
							@switch (item.doc_status)
							{
								case "DRAFT":
									<div class="badge badge-light-primary text-primary">@item.doc_status</div>
									break;
								case "LAUNCH":
									<div class="badge badge-light-success text-success">@item.doc_status</div>
									break;
								case "PRINTED":
									<div class="badge badge-primary">@item.doc_status</div>
									break;
								case "RELEASED":
									<div class="badge badge-success">@item.doc_status</div>
									break;
								case "COMPLETED":
									<div class="badge badge-light-primary text-primary">@item.doc_status</div>
									break;
								default:
									<div class="badge badge-secondary">@item.doc_status</div>
									break;
							}
						</td>
						<td class="text-center">
							@switch (item.doc_status)
							{
								case "DRAFT":
									<a asp-action="EditBeginning" asp-controller="Transaction" asp-route-id_encrypt="@item.id_encrypt" class="menu-link px-3"><i class="ki-outline ki-wrench text-primary fs-3"></i> </a>
									<a href="#" onclick="goDelete('@item.id_encrypt', '@item.tran_code')" class="menu-link px-3"><i class="ki-outline ki-trash text-danger fs-3"></i> </a>
									<a href="#" onclick="goLaunch('@item.id_encrypt', '@item.tran_code')" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Launch this Project"><i class="ki-outline ki-tablet-ok text-success fs-3"></i> </a>
									break;
								case "LAUNCH":
									<a href="#" onclick="goForm('@item.id_encrypt', '@item.tran_code')" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Entry Form"><i class="ki-outline ki-note-2 text-primary fs-3"></i> </a>
									break;
								case "PRINTED":
									<a href="#" onclick="goForm('@item.id_encrypt', '@item.tran_code')" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Entry Form"><i class="ki-outline ki-note-2 text-primary fs-3"></i> </a>
									<a href="#" onclick="goRePrint('@item.id_encrypt', '@item.tran_code')" class="menu-link px-3" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Re-Print"><i class="ki-outline ki-printer text-danger fs-3"></i> </a>
									break;
								case "COMPLETED":
									<div class="badge badge-success">@item.doc_status</div>
									break;
								default:
									<span>-</span>
									break;
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
		<!--end::Table-->
	</div>
	<!--end::Card body-->
</div>
<!--end::Card-->
@section Scripts {
	<script>
		$(function () {
			$("#kt_table").DataTable({
				"language": {
					"lengthMenu": "Show _MENU_",
				},
				"dom":
					"<'row'" +
					"<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
					"<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
					">" +

					"<'table-responsive'tr>" +

					"<'row'" +
					"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
					"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
					">"
			});
		});

		function goDelete(param, param_text) {

			Swal.fire({
				title: 'Are you sure?',
				text: "Do you want to Delete : " + param_text + " ?",
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Confirm',
				customClass: {
					confirmButton: "btn btn-primary",
					cancelButton: "btn btn-danger"
				},
				buttonsStyling: false,
			}).then(function (result) {
				if (result.value) {

					$.ajax({
						cache: false,
						async: true,
						type: "POST",
						url: "@Url.Action("DeleteBeginning", "Transaction")",
						data: { id_encrypt: param },
						success: function (data) {
							if (data.status == "success") {
								location.reload();
							} else {
								toastr.error("Something went wrong : " + data.message);
							}
						},
						error: function (err) {
							swal.close();
							toastr.error("Something went wrong");
						},
						complete: function (data) {

						}

					});
				}
			});

		}
		function goLaunch(param, param_text) {

			Swal.fire({
				title: 'Are you sure?',
				text: "Do you want to Launch this Project : " + param_text + " ?",
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Confirm',
				customClass: {
					confirmButton: "btn btn-primary",
					cancelButton: "btn btn-danger"
				},
				buttonsStyling: false,
			}).then(function (result) {
				if (result.value) {

					$.ajax({
						cache: false,
						async: true,
						type: "POST",
						url: "@Url.Action("LaunchProject", "Transaction")",
						data: { id_encrypt: param },
						success: function (data) {
							if (data.status == "success") {
								location.reload();
							} else {
								toastr.error("Something went wrong : " + data.message);
							}
						},
						error: function (err) {
							swal.close();
							toastr.error("Something went wrong");
						},
						complete: function (data) {

						}

					});
				}
			});

		}
		function goForm(param, param_text) {

			Swal.fire({
				title: 'Are you sure?',
				text: "Do you want to Entry Form this Project : " + param_text + " ?",
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Entry Form',
				customClass: {
					confirmButton: "btn btn-primary",
					cancelButton: "btn btn-danger"
				},
				buttonsStyling: false,
			}).then(function (result) {
				if (result.value) {

					window.location = "@Url.Action("EntryForm","Transaction")?id_encrypt=" + encodeURIComponent(param);

				}
			});

		}
	</script>
}